@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Open+Sans&family=Qahiri&family=Roboto&display=swap');

*{
font-family: 'Josefin Sans', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background-image: url(../img/wave.svg);
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    animation-name: wave;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes wave {
    
}

.contenedor #table{
    text-align: center;
    margin: 1% 10%;
    display:block;
}

/* NAV */
nav{
    display:flex;
    position: sticky;
    top:0px;
    background-color:#ffffff;
    padding:10px
}

.hamb{
    display:none;
}

.nav-body{
    display:flex;
}

.item-link{
    margin-left:10px;
    background-color:#6c757d;
    border-radius: 3px;
    border-radius: 3px;
    padding: 0 10px;
    color: azure;
    padding-top: 15px;
    cursor: pointer;
    font-weight: bold;
}

.item-link:hover{
    background-color:black;
    color:#009fe3;
    transition: 0.3s;
}

.btn-new{
    margin:10px;
}

.google{
    margin-left: 10px;
    background-color: white;
    display: inline-flex;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
}

.google:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.google span{
    display: inline-flex;
    fill:currentColor;
    margin: 3px 3px 0 0;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.google input{
    border:none;
    height: 24px;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    
}

.google input:focus-visible{
    outline: transparent;
}

.logo{
    cursor: pointer;
    width:max-content;
}



.link a{
    margin: 2px;
    text-decoration: solid;
    color: darkcyan;
    transition: 0.4s;
}

.link:hover{
    color: lightgreen;
    border-radius: 10px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px #111111;
    position: absolute;
    font-size: xx-large;
    z-index: 999;
}

dt{
    margin: 7px;
    position: static;
    width: auto;
    height: 30px;
    z-index: 9;
}

dt:hover{
    z-index: 99;
}

.edit{
    margin-left:30px;
    margin-right: 0px;
    display:none;
    cursor: pointer;
}

.delete{
    margin-left:10px;
    margin-right: 10px;
    display:none;
    cursor: pointer;
}

span:hover .delete,span:hover .edit{
    display:inline;
}

.delete:hover,.edit:hover{
    background-color:red;
}

.finger{
    cursor:pointer;
    opacity: 0.5;
    margin-left: 10px;
    transition: 0.5s;
}

.finger:hover{
    border-radius: 50%;
    opacity: 1;
}

.foot{
    text-align:right;
    padding-right: 5%;
    padding-bottom: 2%;
}

.footText{
    margin-left: 15%;
}

.footBorder{
    height: 10px;
    border-top: 12px black solid;
    box-shadow: black 2px;
    animation-name: pie;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.01, 1.35, 0.51,-0.46);
}

@keyframes pie {
    0%{
        width: 100%;
        margin-left: 0%;
    }
    50%{
        margin-left: 0%;
        width: 100%;
        border-color: #009ee3;
    }
    100%{
        width: 100%;
        margin-left: 0%;
    }
}

.table-title{
    top: 60px;
    position: sticky;
    background-color: white;
    padding: 5px;
}

.hidden{
    display: none;
}

.tablaOwn{
    border-collapse: collapse;
    width: 100%;
}

.tablaOwn tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

.tablaOwn td{
    padding: 1rem 2rem 1rem 1rem;
    border-bottom: 2px solid #989898;
}

.tablaOwn td,.tablaOwn a{
    cursor: pointer;
    transition: 0.3s;
}

.tablaOwn tr:hover span img{
    background-color: white;
    border-radius: 50%;
}

.tablaOwn tr:hover img{
    background-color: white;
    border-radius: 50%;
}

.tablaOwn a:hover svg{
    background-color: rgb(47, 231, 255);
    border-radius: 50%;
}

.tablaOwn tr:hover a,.tablaOwn tr:hover td{
    background-color: rgb(61, 61, 61);
    color: honeydew;
    font-size: medium;
}

.tablaOwn thead{
    width:max-content;
    border-bottom: 2px solid black;
    position: sticky;
    top: 110px;
    z-index: 10;
    height: 50px;
    text-align: center;
    background-color: #6c757d;
}

.navBarOwn{
    width: 100%;
}


/* TARJETAS DE LA PGINA INICIAL */

.card{
    border-radius: 57% 43% 37% 63% / 45% 52% 48% 55%;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0, 0, 0, 0.1),
                15px 20px 20px rgba(0, 0, 0, 0.05),
                inset -10px -15px 10px rgba(255, 255, 255, 0.9);

    width: 300px;
    display: inline-block;
    padding: 10px;
    margin:2rem;
    cursor: pointer;
    transition: 0.3s;
    background-color:#f5f5f5;
}

.card:hover{
    box-shadow: inset -10px -10px 10px rgba(0,0,0,0.1),
                15px 25px 10px rgba(0, 0, 0, 0.8),
                15px 20px 20px rgba(0, 0, 0, 0.1),
                inset 10px 15px 10px rgba(255, 255, 255, 0.9);
    animation: bgCard 30s ease forwards;
    background: linear-gradient(90deg, rgb(0, 105, 175) 0%, rgb(69, 121, 9) 35%, rgba(0,212,255,1) 100%);
    background-size: 600% 600%;
}

.card h3{
    text-align:center;
}

.img{
    text-align:center;
}

@keyframes bgCard {
    0%{
        background-position: 100% 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

/* CALCULADORA */

.calculadora{
    text-align:center;
}

.calculadora .cabecera{
    margin-top: 10px;
}

.calculadora .cabecera .input{
    display:inline;
}

.calculadora .cabecera button{
    background-color: rgb(155,155,155,0.7);
    transition: 0.3;
}

.calculadora .cabecera button:hover{
    background-color: rgba(180, 246, 255, 0.7);
    box-shadow: 2px 2px rgb(200,200,200,0.60) ;
}

.form-cantidad, .form-pvp, .form-dto{
    width: 100px;
    text-align: center;
}

.form-pvp,  .form-subtotal{
    text-align:right;
}


/* TABLA CON CSS */

.tabla{
    text-align: left;
    grid-gap: 3px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-around;
}
/* TABLA INTERNAS */

.tabla-encabezado{
    display: grid;
    grid-gap: 1.5rem;
    padding-bottom: 5px;
    grid-template-columns: 18% 18% 18% 18% 18% 5%;
    font-size: larger;
    border-bottom: 1px solid;
}

.tabla-filas{
    padding: 5px 0;
    grid-gap: 1.5rem;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18% 5%;
}

.tabla-celdas{
    padding: 10px 0 0 5px;
}

.tabla-filas:hover{
    background-color: rgb(61, 61, 61);
    color: honeydew;
}

/*TABLA PROVEEDORES */

.tabla-encabezado-prov{
    padding: 5px 0;
    position: sticky;
    top:123px;
    display: grid;
    grid-gap: 1.5rem;
    padding-bottom: 5px;
    grid-template-columns: 2% 20% 14% 25% 10% 10% 5% 5%;
    font-size: larger;
    border-bottom: 1px solid;
}

.tabla-filas-prov{
    grid-gap: 1.5rem;
    display: grid;
    grid-template-columns: 2% 20% 14% 25% 10% 10% 5% 5%;
}

.tabla-filas-prov:nth-child(even){
    background-color:rgb(108 117 125);
    color:#f2fbff;
}

.tabla-filas-prov:nth-child(odd){
    background-color:rgb(255 255 255);
    color:black;
}

.tabla-celdas-prov{
    padding: 10px 0 0 5px;
}

.tabla-filas-prov:hover, .tabla-filas-prov:hover a{
    background-color: rgb(61, 61, 61);
    color: honeydew;
}

/* MODAL*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    box-shadow: 2px 2px 15px black;
  }

  .modal-content h2{
      text-align: center;
  }

  .modal-footer{
      text-align: end;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media(max-width: 992px){
    .contenedor #table{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1% 0%;
    }

    .table-title{
        margin-left: 20px;
    }

    .tabla-encabezado-prov, .tabla-encabezado{
        display:none;
    }
   
    .tabla-filas-prov{
        display: block;
        width: 100%;
    }

    .tabla-filas-prov{
        padding-left: 50%;
        position: relative;
        margin-right: 10px;
        margin: 1% 1%;
    }
    
    .tabla-filas-prov .tabla-celdas-prov::before {
        content: attr(data-label);
        position: absolute;
        padding-left: 15px;
        left: 0;
    }

    .nav-body{
        display: none;
    }

    .hamb{
        display: block;
        top: 18px;
        width: 48px;
        height: 5px;
        background: #222;
        position: relative;
        cursor: pointer;
    }

    .hamb::before,.hamb::after{
        width:44px;
        height:5px;
        background-color:black;
        position: absolute;
        content:'';
    }

    .hamb::before{
        top:-11px;
    }

    .hamb::after{
        top:11px;
    }

    .hamb, .hamb::before,.hamb::after,.nav-body{
        transition: all ease-in-out 0.4s;
    }

    .hamb.animation{
        background-color: transparent;
    }

    .hamb.animation::before{
        top:0px;
        transform: rotate(-45deg);
    }

    .hamb.animation::after{
        top:0px;
        transform: rotate(45deg);        
    }

    .nav-body.animation{
        display:block;
        margin-top: 50px;
        position: fixed;
        width:100%;
    }

    .item-link.animation{
        text-align: center;
        padding-bottom: 1px;
        margin-bottom: 1px;
        margin-left: 0px;;
    }
}